@import url(http://fonts.googleapis.com/css?family=Rufina);
@import url(http://fonts.googleapis.com/css?family=Sintony);

body
{
	background-color: #488CD7;
}
 body *
{
	color: white;
}

input, .button
{
	font-family: 'Sintony', sans-serif !important;
}

.row
{
	min-width: 100%;
}

.centered
{
	text-align: center;	
}

.top-bar
{
	height: 80px;
}

.name h1 a
{
	line-height: 80px;
	font-size: 28px;
}

.pick-panel
{
	text-align: center;
	border: 2px white solid;
	margin-top: 50px;
	padding: 15px;
	height: 350px;
}

.pick-panel:hover
{
	border:5px white solid;

	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	-ms-transition: .2s ease;
	transition: .2s ease;
}

.pick-panel:hover h2
{
	font-weight: bold;

	-webkit-transition: 1.5s ease;
	-moz-transition: 1.5s ease;
	-o-transition: 1.5s ease;
	-ms-transition: 1.5s ease;
	transition: 1.5s ease;
}

.panel-head
{
	margin: 0;
	padding: 0;
	margin-top: 80px;
	font-family: 'Rufina', serif;
}

.panel-img
{
	margin-top: 75px;
}

.teacher-prompt, .student-prompt
{
	border-bottom: 1px #ccc solid;
	font-family: 'Rufina', serif;
}

#question_input
{
	margin-top: 30px;
}

#question_output
{
	text-align: center;
}

.hide
{
	display: none;
}

#correctnessChart
{
	display: block;
	margin: 0 auto;
}